/* *{
    margin: 0;
    padding: 0;
} */

body{
    background-color: #f4f4f4;
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
}

.top-content{
    background-color: #333;
    color: #fff;
    border: 3px orange solid;
    border-left-width: 10px;
    padding: 20px;
    margin: 20px 0;
}

.top-content h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
}

.chapter{
    text-align: justify;
}