.App {
  padding: 50px;
  width: fit-content;
  color: #505050;
}

.App p {
  text-align: justify;
}

.Heading {
  margin: 5px 0;
  color: blue;
}

.SubHeading {
  margin: 5px 0;
  color: rgb(60, 60, 212);
}
