/* Colors*/
$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$white: #fff;

/* Fonts*/
$font-stack: Arial, Helvetica, sans-serif;

/* Container's maximum width */
$max-width: 1180px