/* Colors*/
$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$white: #fff;

/* Fonts*/
$font-stack: Arial, Helvetica, sans-serif;

/* Container's maximum width */
$max-width: 1180px;

/* Breakpoints */
$breakpoints: (
    "sm": "640px",
    "md": "768px",
    "lg": "1024px",
    "xl": "1280px",
    "2xl": "1536px"
);