/* Typography mixins */
@mixin body-styles {
    font-family: $font-stack;
    line-height: 1.6;
}

@mixin heading-styles {
    font-size: 3rem;
    line-height: 1.2;
}

/* Nav Links Text color */
@mixin set-link-text-color($color, $hover) {
    a {
        color: set-text-color($color);

        &:hover {
            color: $hover;
        }
    }
}

/* Background & Text color */
@mixin set-background-text-color($color) {
    background-color: $color;
    color: set-text-color($color);
}

/* Media Queries */
@mixin mobile {
    @media(max-width: 768px) {
        @content;
    }
}